<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planificare Garzi</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"/>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    {% block styles %}
    {% endblock styles %}
</head>
<body>
    <header class="navbar navbar-expand-sm navbar-light">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"><i class="bi bi-calendar2-plus"></i></a>
        <button
          class="navbar-toggler d-lg-none"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavId"
          aria-controls="collapsibleNavId"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class = "collapse navbar-collapse" id = "collapsibleNavId">
          <ul class="navbar-nav me-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'home' %}" aria-current="page"
                  >Home <span class="visually-hidden">(current)</span></a>
              </li>
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'scheduler' %}">Scheduler</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'medici' %}">Medici</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'myLogout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'myLogin' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </header>
    <div class="collapse" id="contentId"></div>

    
        
    <div id="mainSection" class="container-fluid">{% block content %}{% endblock content %}</div>
    
    <footer id="footer">{% block footer %}{% endblock footer %}</footer>




    {% block scripts %}
    
    {% endblock scripts %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  {% load static %}
  <script src="{% static 'theme.js' %}"></script>
</body>
</html>