{% extends "base.html" %}

{% block content %}
    <div id="root">
        <section id="medici" class = "container-fluid7">
            <div class="table-responsive-sm col-sm-7">
                <table class="table table-sm table-hover table-borderless align-middle">
                    <thead class="table-sm">
                        <tr>
                            <th>ID</th>
                            <th>Nickname</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for medic in medicList %}
                        <tr class="medicRecord record">
                            <td class = "medicId" scope="row">{{ medic.id }}</td>
                            <td class = "medicNickname">{{ medic.nickname }}</td>
                            <td class = "medicFirstName">{{ medic.firstName }}</td>
                            <td class = "medicLastName">{{ medic.lastName }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                        <button id="addNewMedicButton" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAddNewMedic"><i class="bi bi-person-plus"></i></button>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>
    </div>



<!-- Modal to modify medic -->
<div class="modal" id="modalModifyMedic" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modify Medic</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" method="post" id="formModifieMedic">
            {% csrf_token %}
            <div class="mb-3" hidden>
                <input type="text" class="form-control" name="actualMedicId" id="actualMedicId"/>
            </div>
            <div class="mb-3">
                <label for="modifiedNickname" class="form-label">Nickname</label>
                <input type="text" class="form-control" name="modifiedNickname" id="modifiedNickname"/>
            </div>
            <div class="mb-3">
                <label for="modifiedFirstName" class="form-label">First Name</label>
                <input type="text" class="form-control" name="modifiedFirstName" id="modifiedFirstName"/>
            </div>
            <div class="mb-3">
                <label for="modifiedLastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" name="modifiedLastName" id="modifiedLastName"/>
            </div>
            
          </form>
        </div>
        <div class="modal-footer">
          <button id="cancelButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id ="saveChangesButton" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<!-- END OF Modal to modify medic -->


<!-- Modal to add new medic -->
<div class="modal" id="modalAddNewMedic" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add new medic</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" method="post" id="formAddNewMedic">
            {% csrf_token %}

            <div class="mb-3">
                <input type="text" class="form-control" name="newNickname" id="newNickname" placeholder="New Nickname"/>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="newFirstName" id="newFirstName" placeholder="New First Name"/>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="newLastName" id="newLastName" placeholder="New Last Name"/>
            </div>
            
          </form>
        </div>
        <div class="modal-footer">
          <button id="cancelNewButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id ="saveNewButton" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<!-- END OF Modal to insert new medic -->


{% endblock content %}









{% block scripts %}
    {% load static %}
    <script src="{% static 'medici.js' %}"></script>
{% endblock scripts %}


