{% extends "home.html" %}

{% block home-specificButtons %}
    <button id="saveButton" class="btn btn-primary button" type="button" data-bs-toggle="collapse" data-bs-target="#contentId" aria-expanded="false" aria-controls="contentId" disabled>Save</button>
{% endblock home-specificButtons %}

{% block tableTitle %}
{% endblock tableTitle %}

{% block cardsSection %}
    <div class="col-sm-2 sticky-top">
        <ul id="cardsSection" class="nav nav-pills nav-stacked">
            {% for medic in medicList %}
                <li id="medic{{ medic.id }}" class="col-12 bg-primary text-white btn btn-primary btn-sm mb-1 medic card draggable" draggable="true"> {{ medic.nickname }} </li>
            {% endfor %}
        </ul>
    </div>
{% endblock cardsSection %}



{% block scripts %}
    {% load static %}
    <script src="{% static 'scheduler.js' %}"></script>
{% endblock scripts %}