{% extends "home.html" %}

{% comment %} {% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock styles %} {% endcomment %}

{% block tableTitle %}
{% endblock tableTitle %}

{% block cardsSection %}
    <div class="col-sm-2 sticky-top">
        <ul id="cardsSection" class="nav nav-pills nav-stacked">
            {% for medic in medicList %}
                <li id="medic{{ medic.id }}" class="col-12 bg-primary text-white btn btn-primary btn-sm mb-1 medic card draggable" draggable="true"> {{ medic.nickname }} </li>
            {% endfor %}
        </ul>
    </div>
{% endblock cardsSection %}



{% block scripts %}
    {% load static %}
    <script src="{% static 'scheduler.js' %}"></script>
{% endblock scripts %}