body {
    display: block;
}
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* the contante ho be visible independently of the height */

}

#tableTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
    margin: 0;
    box-sizing: border-box;
}

.titles {
    padding: 10px;
    font-size: 1.5rem;
}

#subTitle {
    font-size: 1.25rem;
    padding-bottom: 15px;
}


@media print {
    /* body {
        all: initial !important;
    } */
    body *{
      margin: 0 !important;
      padding: 0 !important;
      visibility: hidden !important;
      all: none !important;
    }
    @page {
      size: A4 !important;
      margin: 0 5mm 0 5mm;
      align-items: center ;
      justify-content: baseline;
    }
    /* Add additional styling for your content here */


    #buttonsSection {
        display: none !important;
    }

    #actualTableArea * {
      visibility: visible !important;
    }

    #antetSpital * {
        visibility: visible !important;
    }
    #antetSpital {
        margin-top: 0 !important;
        margin-bottom: 1rem !important;
    }

    #actualTableArea {
        margin-left: 25mm !important;
    }

    #tableTitle {
        padding: 1rem 0 !important;
        margin: 1rem 0 !important;
    }

    table * {
        border: 1px solid black !important;
    }

    table {
        border-collapse: collapse !important;
    }

    td, th {
        padding: 0.2rem 1rem !important;
        width: 40mm !important;
    }

    th {
        font-size: 1.25rem;
        font-weight: bolder !important;
        background-color: #fff !important;
        text-align: center !important;
        justify-content: center !important;
        vertical-align: middle !important;
    }

    td {
        font-size: 1rem !important;
    }

    .weekend {
        background-color: #918787 !important;
        font-weight: bold !important;
    }

    .thtura, .thtime {
        border: none !important;
    }
    .thtura {
        font-size: 1.25rem !important;
    }
    .thtime {
        font-size: 1rem !important;
    }

  }